*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: cyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.holamundo{
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}